body {
    display: flex;
    align-items: center;
    background-color: rgb(254, 246, 246);
}

.main {
    border: 1px solid grey;
    width: 30%;
    margin: auto;
    text-align: center;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.2);
    background-color: #f7f3f3;

}

input[type=file] {
    border: 2px solid grey;

}

input,
button {
    margin-top: 20px;
    width: 80%;
    font-size: 18px;
    padding: 8px;
    border: 2px solid grey;
    border-radius: 10px;

}